@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-jdfket');
	src:url('fonts/icomoon.eot?#iefix-jdfket') format('embedded-opentype'),
		url('fonts/icomoon.woff?-jdfket') format('woff'),
		url('fonts/icomoon.ttf?-jdfket') format('truetype'),
		url('fonts/icomoon.svg?-jdfket#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ico_f_041415_48x48_01_lock:before {
	content: "\61";
}

.icon-ico_f_041415_48x48_02_key:before {
	content: "\62";
}

.icon-ico_f_041415_48x48_02_key2:before {
	content: "\63";
}

.icon-ico_f_041415_48x48_03_magnifier_3U:before {
	content: "\64";
}

.icon-ico_f_041415_48x48_03_magnifier_4U:before {
	content: "\65";
}

.icon-ico_f_041415_48x48_03_magnifier2U:before {
	content: "\66";
}

.icon-ico_f_041415_48x48_04_Subtitles2:before {
	content: "\67";
}

.icon-ico_f_041415_48x48_04_subtitles:before {
	content: "\68";
}

.icon-ico_f_041415_48x48_05_volume:before {
	content: "\69";
}

.icon-ico_f_041415_48x48_06_logout_3U_2:before {
	content: "\6a";
}

.icon-ico_f_041415_48x48_06_logout_3U_3:before {
	content: "\6b";
}

.icon-ico_f_041415_48x48_06_logout_3U:before {
	content: "\6c";
}

.icon-ico_f_041415_48x48_06_logout:before {
	content: "\6d";
}

.icon-ico_f_041415_48x48_07_imageResolution_rounded:before {
	content: "\6e";
}

.icon-ico_f_041415_48x48_07_imageResolution:before {
	content: "\f1";
}

.icon-ico_f_041415_48x48_08_check_rounded:before {
	content: "\6f";
}

.icon-ico_f_041415_48x48_08_check:before {
	content: "\70";
}

.icon-ico_f_041415_48x48_09_eye:before {
	content: "\71";
}

.icon-ico_f_041415_48x48_09_eye2:before {
	content: "\72";
}

.icon-ico_f_041415_48x48_10_play_rounded:before {
	content: "\73";
}

.icon-ico_f_041415_48x48_10_play:before {
	content: "\74";
}

.icon-ico_f_041415_48x48_11_pause_rounded:before {
	content: "\75";
}

.icon-ico_f_041415_48x48_11_pause:before {
	content: "\76";
}

.icon-ico_f_041415_48x48_12_cancelrecording:before {
	content: "\77";
}

.icon-ico_f_041415_48x48_12_rec:before {
	content: "\78";
}

.icon-ico_f_041415_48x48_13_menu_rounded:before {
	content: "\79";
}

.icon-ico_f_041415_48x48_13_menu:before {
	content: "\7a";
}

.icon-ico_f_041415_48x48_13_menu2:before {
	content: "\41";
}

.icon-ico_f_041415_48x48_13_menu3:before {
	content: "\42";
}

.icon-ico_f_041415_48x48_14_viewAll_circles:before {
	content: "\43";
}

.icon-ico_f_041415_48x48_14_viewAll_Rounded:before {
	content: "\44";
}

.icon-ico_f_041415_48x48_14_viewAll:before {
	content: "\45";
}

.icon-ico_f_041415_48x48_14_viewAll2_circles:before {
	content: "\46";
}

.icon-ico_f_041415_48x48_14_viewAll2_rounded:before {
	content: "\47";
}

.icon-ico_f_041415_48x48_14_viewAll2:before {
	content: "\48";
}

.icon-ico_f_041415_48x48_15_language:before {
	content: "\49";
}

.icon-ico_f_041415_48x48_16_info_rounded:before {
	content: "\4a";
}

.icon-ico_f_041415_48x48_16_info:before {
	content: "\4b";
}

.icon-ico_f_041415_48x48_17_airplay:before {
	content: "\4c";
}

.icon-ico_f_041415_48x48_18_minimize2U:before {
	content: "\4d";
}

.icon-ico_f_041415_48x48_18_minimize_3U:before {
	content: "\4e";
}

.icon-ico_f_041415_48x48_19_fullSize_2U:before {
	content: "\d1";
}

.icon-ico_f_041415_48x48_19_fullSize_3U:before {
	content: "\4f";
}

.icon-ico_f_041415_48x48_20_catch_3U:before {
	content: "\50";
}

.icon-ico_f_041415_48x48_20_catch:before {
	content: "\51";
}

.icon-ico_f_041415_48x48_21a_close_2U:before {
	content: "\52";
}

.icon-ico_f_041415_48x48_21b_angle_left_2U:before {
	content: "\53";
}

.icon-ico_f_041415_48x48_21c_angle_right_2U:before {
	content: "\54";
}

.icon-ico_f_041415_48x48_21d_angle_up_2U:before {
	content: "\55";
}

.icon-ico_f_041415_48x48_21e_angle_down_2U:before {
	content: "\56";
}

.icon-ico_f_041415_48x48_21f_plus_2U:before {
	content: "\57";
}

.icon-ico_f_041415_48x48_21g_minus_2U:before {
	content: "\58";
}

.icon-ico_f_041415_48x48_22a_close_4U:before {
	content: "\59";
}

.icon-ico_f_041415_48x48_22b_angle_left_4U:before {
	content: "\5a";
}

.icon-ico_f_041415_48x48_22c_angle_right_4U:before {
	content: "\31";
}

.icon-ico_f_041415_48x48_22d_angle_up_4U:before {
	content: "\32";
}

.icon-ico_f_041415_48x48_22e_angle_down_4U:before {
	content: "\33";
}

.icon-ico_f_041415_48x48_22f_plus_4U:before {
	content: "\34";
}

.icon-ico_f_041415_48x48_22g_minus_4U:before {
	content: "\35";
}

.icon-ico_f_041415_48x48_23a_close_rounded_4U:before {
	content: "\36";
}

.icon-ico_f_041415_48x48_23b_angle_left_rounded_4U:before {
	content: "\37";
}

.icon-ico_f_041415_48x48_23c_angle_right_rounded_4U:before {
	content: "\38";
}

.icon-ico_f_041415_48x48_23d_angle_up_rounded_4U:before {
	content: "\39";
}

.icon-ico_f_041415_48x48_23e_angle_down_rounded_4U:before {
	content: "\30";
}

.icon-ico_f_041415_48x48_23f_plus_rounded_4U:before {
	content: "\21";
}

.icon-ico_f_041415_48x48_23g_minus_rounded_4U:before {
	content: "\22";
}

.icon-ico_f_041415_48x48_24_adjust:before {
	content: "\b7";
}

.icon-ico_f_041415_48x48_25_user:before {
	content: "\24";
}

.icon-ico_f_041415_48x48_25_user2:before {
	content: "\25";
}

.icon-ico_f_041415_48x48_26_not_found:before {
	content: "\26";
}

.icon-ico_f_041415_48x48_26_not_found2:before {
	content: "\2f";
}

.icon-ico_f_041415_48x48_27_tv:before {
	content: "\28";
}

.icon-ico_f_041415_48x48_28_question:before {
	content: "\29";
}

.icon-ico_f_041415_48x48_29_ticket:before {
	content: "\3d";
}

.icon-ico_f_041415_48x48_29_ticket_rounded:before {
	content: "\27";
}

