/*
backgrounds.css
by Hyun Sung Lee
22-4-15
*/

.blackBg{
	background-color: #222; 
	color: #fff; 
	display: inline-block;
	padding:100px 200px 100px 10px;
}



.mdpi{
	font-size: 24px;
}

.tvdpi{
	font-size: 32px;
}

.hdpi{
	font-size:36px;
}

.xhdpi{
	font-size: 48px;
}

.xxhdpi{
	font-size: 72px;
}