$icon-ico_f_050815_48x48_01_lock: "\21";
$icon-ico_f_050815_48x48_02_key: "\22";
$icon-ico_f_050815_48x48_03_magnifier_3U: "\23";
$icon-ico_f_050815_48x48_03_magnifier_4U: "\24";
$icon-ico_f_050815_48x48_04_check_3U: "\25";
$icon-ico_f_050815_48x48_04_check_4U_rounded: "\26";
$icon-ico_f_050815_48x48_04_check_4U: "\27";
$icon-ico_f_050815_48x48_05_eye_2U: "\28";
$icon-ico_f_050815_48x48_06_eye_3U: "\29";
$icon-ico_f_050815_48x48_07_settings: "\2a";
$icon-ico_f_050815_48x48_08_logout_3U-2U: "\2b";
$icon-ico_f_050815_48x48_08_logout_4U-3U: "\2c";
$icon-ico_f_050815_48x48_09_subtitles: "\2d";
$icon-ico_f_050815_48x48_10_language_2U: "\2e";
$icon-ico_f_050815_48x48_10_language_3U: "\2f";
$icon-ico_f_050815_48x48_31_airplay: "\30";
$icon-ico_f_050815_48x48_11_volume_rounded: "\31";
$icon-ico_f_050815_48x48_11_volume: "\32";
$icon-ico_f_050815_48x48_12_play: "\33";
$icon-ico_f_050815_48x48_12_roundnegativeplay: "\34";
$icon-ico_f_050815_48x48_13_pause_rounded: "\35";
$icon-ico_f_050815_48x48_13_pause: "\36";
$icon-ico_f_050815_48x48_14_rec: "\37";
$icon-ico_f_050815_48x48_15_cancel_rec_3U_3M: "\38";
$icon-ico_f_050815_48x48_15_cancel_rec_3U_4M: "\39";
$icon-ico_f_050815_48x48_16_recording: "\3a";
$icon-ico_f_050815_48x48_17_menu_3U_narrow__alignment_low: "\3b";
$icon-ico_f_050815_48x48_17_menu_3U_narrow__alignment_up: "\3c";
$icon-ico_f_050815_48x48_17_menu_3U_wide__alignment_low-26: "\3d";
$icon-ico_f_050815_48x48_17_menu_3U_wide__alignment_low-27: "\3e";
$icon-ico_f_050815_48x48_17_menu_4U_wide: "\3f";
$icon-ico_f_050815_48x48_18_viewAll_2S_squares: "\40";
$icon-ico_f_050815_48x48_18_viewAll_3S_circles_adjusted: "\41";
$icon-ico_f_050815_48x48_18_viewAll_3S_circles: "\42";
$icon-ico_f_050815_48x48_18_viewAll_3S_sqaures: "\43";
$icon-ico_f_050815_48x48_18_viewAll_4U_3S: "\44";
$icon-ico_f_050815_48x48_19_adjust: "\45";
$icon-ico_f_050815_48x48_20_user: "\46";
$icon-ico_f_050815_48x48_21_minimize_2U: "\47";
$icon-ico_f_050815_48x48_21_minimize_3U: "\48";
$icon-ico_f_050815_48x48_22_fullsize_2U: "\49";
$icon-ico_f_050815_48x48_22_fullSize_3U: "\4a";
$icon-ico_f_050815_48x48_23_catch_3U_rounded: "\4b";
$icon-ico_f_050815_48x48_23_catch_3U: "\4c";
$icon-ico_f_050815_48x48_23_catch_long_4U: "\4d";
$icon-ico_f_050815_48x48_23_catch_long_rounded_4U: "\4e";
$icon-ico_f_050815_48x48_23_catch_long_rounded: "\4f";
$icon-ico_f_050815_48x48_23_catch_long: "\50";
$icon-ico_f_050815_48x48_24_close_3U: "\51";
$icon-ico_f_050815_48x48_25_angle_left_3U: "\52";
$icon-ico_f_050815_48x48_26_angle_right_3U: "\53";
$icon-ico_f_050815_48x48_27_angle_up_3U: "\54";
$icon-ico_f_050815_48x48_28_angle_down_3U: "\55";
$icon-ico_f_050815_48x48_29_plus_3U: "\56";
$icon-ico_f_050815_48x48_30_minus_3U: "\57";
$icon-ico_f_050815_48x48_24_close_4U_rounded: "\58";
$icon-ico_f_050815_48x48_25_angle_left_4U_rounded: "\59";
$icon-ico_f_050815_48x48_26_angle_right_4U_rounded: "\5a";
$icon-ico_f_050815_48x48_27_angle_up_4U_rounded: "\5b";
$icon-ico_f_050815_48x48_28_angle_down_4U_rounded: "\5c";
$icon-ico_f_050815_48x48_29_plus_4U_rounded: "\5d";
$icon-ico_f_050815_48x48_30_minus_4U_rounded: "\5e";
$icon-ico_f_050815_48x48_32_alert_4U_circle: "\5f";
$icon-ico_f_050815_48x48_32_alert_4U_rounded: "\60";
$icon-ico_f_050815_48x48_32_alert_4U_square: "\61";
$icon-ico_f_050815_48x48_32_alert_4U-2U_square_corrected: "\62";
$icon-ico_f_050815_48x48_32_alert_4U-2U-1S_circle: "\63";
$icon-ico_f_050815_48x48_32_alert_4U-2U-1S_square: "\64";
$icon-ico_f_050815_48x48_32_alert_4U-2U-2S_square: "\65";
$icon-ico_f_050815_48x48_33_question: "\66";
$icon-ico_f_050815_48x48_33_question2: "\67";
$icon-ico_f_050815_48x48_33_question3: "\68";
$icon-ico_f_050815_48x48_34_ticket_negative_3U: "\69";
$icon-ico_f_050815_48x48_34_ticket_negative_4U: "\6a";
$icon-ico_f_050815_48x48_34_ticket_positive: "\6b";
$icon-ico_f_050815_48x48_35_info_rounded: "\6c";
$icon-ico_f_050815_48x48_35_info: "\6d";
$icon-ico_f_050815_48x48_41_footprints: "\6e";
$icon-ico_f_050815_48x48_43_pin: "\6f";
$icon-ico_f_050815_48x48_42_flag: "\70";
$icon-ico_f_050815_48x48_42_flag2: "\71";
$icon-ico_f_050815_48x48_36_tv_2U: "\72";
$icon-ico_f_050815_48x48_36_tv_3U: "\73";
$icon-ico_f_050815_48x48_37_smartphone: "\74";
$icon-ico_f_050815_48x48_37_smartphone_3U: "\75";
$icon-ico_f_050815_48x48_38_tablet: "\76";
$icon-ico_f_050815_48x48_38_tablet_3U: "\77";
$icon-ico_f_050815_48x48_39_laptop: "\78";
$icon-ico_f_050815_48x48_39_laptop_3U: "\79";
$icon-ico_f_050815_48x48_40_desktop2: "\7a";
$icon-ico_f_050815_48x48_40_desktop: "\7b";
$icon-ico_f_050815_48x48_40_desktop_3U: "\7c";
