@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-d71e4a');
	src:url('fonts/icomoon.eot?#iefix-d71e4a') format('embedded-opentype'),
		url('fonts/icomoon.woff?-d71e4a') format('woff'),
		url('fonts/icomoon.ttf?-d71e4a') format('truetype'),
		url('fonts/icomoon.svg?-d71e4a#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ico_f_043015_48x48_01_lock:before {
	content: "\21";
}

.icon-ico_f_043015_48x48_02_key:before {
	content: "\22";
}

.icon-ico_f_043015_48x48_03_key2:before {
	content: "\23";
}

.icon-ico_f_043015_48x48_04_magnifier_3U:before {
	content: "\24";
}

.icon-ico_f_043015_48x48_05_check:before {
	content: "\25";
}

.icon-ico_f_043015_48x48_06_check_rounded:before {
	content: "\26";
}

.icon-ico_f_043015_48x48_07_eye:before {
	content: "\27";
}

.icon-ico_f_043015_48x48_08_eye2:before {
	content: "\28";
}

.icon-ico_f_043015_48x48_09_eye3:before {
	content: "\29";
}

.icon-ico_f_043015_48x48_10_eye4:before {
	content: "\2a";
}

.icon-ico_f_043015_48x48_11_settings:before {
	content: "\2b";
}

.icon-ico_f_043015_48x48_12_logout:before {
	content: "\2c";
}

.icon-ico_f_043015_48x48_13_logout_3U:before {
	content: "\2d";
}

.icon-ico_f_043015_48x48_14_logout_3U-2U:before {
	content: "\2e";
}

.icon-ico_f_043015_48x48_15_Subtitles:before {
	content: "\2f";
}

.icon-ico_f_043015_48x48_16_language_2U_b:before {
	content: "\30";
}

.icon-ico_f_043015_48x48_17_language_2U_b:before {
	content: "\31";
}

.icon-ico_f_043015_48x48_18_language_3U_a:before {
	content: "\32";
}

.icon-ico_f_043015_48x48_19_language_3U_b:before {
	content: "\33";
}

.icon-ico_f_043015_48x48_20_volume:before {
	content: "\34";
}

.icon-ico_f_043015_48x48_21_play:before {
	content: "\35";
}

.icon-ico_f_043015_48x48_22_play_rounded:before {
	content: "\36";
}

.icon-ico_f_043015_48x48_23_negativeplay:before {
	content: "\37";
}

.icon-ico_f_043015_48x48_24_negativeplayrounded:before {
	content: "\38";
}

.icon-ico_f_043015_48x48_25_pause:before {
	content: "\39";
}

.icon-ico_f_043015_48x48_26_pause_rounded:before {
	content: "\3a";
}

.icon-ico_f_043015_48x48_27a_rec:before {
	content: "\3b";
}

.icon-ico_f_043015_48x48_27b_recording:before {
	content: "\3c";
}

.icon-ico_f_043015_48x48_28a_cancel_rec_2U:before {
	content: "\3d";
}

.icon-ico_f_043015_48x48_28b_cancel_rec_3U_4M:before {
	content: "\3e";
}

.icon-ico_f_043015_48x48_29_cancel_rec_3U_3M:before {
	content: "\3f";
}

.icon-ico_f_043015_48x48_30_cancel_rec_3U_2M:before {
	content: "\40";
}

.icon-ico_f_043015_48x48_32_cancel_rec_4U_2M:before {
	content: "\41";
}

.icon-ico_f_043015_48x48_33_cancel_rec_4U_3M:before {
	content: "\42";
}

.icon-ico_f_043015_48x48_34_menu:before {
	content: "\43";
}

.icon-ico_f_043015_48x48_35_menu2:before {
	content: "\44";
}

.icon-ico_f_043015_48x48_36_menu3:before {
	content: "\45";
}

.icon-ico_f_043015_48x48_37_menu4:before {
	content: "\46";
}

.icon-ico_f_043015_48x48_38_viewAll_2S:before {
	content: "\47";
}

.icon-ico_f_043015_48x48_39_viewAll_3S:before {
	content: "\48";
}

.icon-ico_f_043015_48x48_40_viewAll_circles_3U:before {
	content: "\49";
}

.icon-ico_f_043015_48x48_41_viewAll_circles_4U:before {
	content: "\4a";
}

.icon-ico_f_043015_48x48_42_language:before {
	content: "\4b";
}

.icon-ico_f_043015_48x48_43_adjust:before {
	content: "\4c";
}

.icon-ico_f_043015_48x48_44_minimize_3U:before {
	content: "\4d";
}

.icon-ico_f_043015_48x48_45_fullSize_3U:before {
	content: "\4e";
}

.icon-ico_f_043015_48x48_46_catch_3U:before {
	content: "\4f";
}

.icon-ico_f_043015_48x48_47_catch_long:before {
	content: "\50";
}

.icon-ico_f_043015_48x48_47a_close_3U:before {
	content: "\51";
}

.icon-ico_f_043015_48x48_47b_angle_left_3U:before {
	content: "\52";
}

.icon-ico_f_043015_48x48_47c_angle_right_3U:before {
	content: "\53";
}

.icon-ico_f_043015_48x48_47d_angle_up_3U:before {
	content: "\54";
}

.icon-ico_f_043015_48x48_47e_angle_down_3U:before {
	content: "\55";
}

.icon-ico_f_043015_48x48_47f_plus_3U:before {
	content: "\56";
}

.icon-ico_f_043015_48x48_47g_minus_3U:before {
	content: "\57";
}

.icon-ico_f_043015_48x48_48a_close_4U:before {
	content: "\58";
}

.icon-ico_f_043015_48x48_48b_angle_left_4U:before {
	content: "\59";
}

.icon-ico_f_043015_48x48_48c_angle_right_4U:before {
	content: "\5a";
}

.icon-ico_f_043015_48x48_48d_angle_up_4U:before {
	content: "\5b";
}

.icon-ico_f_043015_48x48_48e_angle_down_4U:before {
	content: "\5c";
}

.icon-ico_f_043015_48x48_48f_plus_4U:before {
	content: "\5d";
}

.icon-ico_f_043015_48x48_48g_minus_4U:before {
	content: "\5e";
}

.icon-ico_f_043015_48x48_49a_close_rounded_4U:before {
	content: "\5f";
}

.icon-ico_f_043015_48x48_49b_angle_left_rounded_4U:before {
	content: "\60";
}

.icon-ico_f_043015_48x48_49c_angle_right_rounded_4U:before {
	content: "\61";
}

.icon-ico_f_043015_48x48_49d_angle_up_rounded_4U:before {
	content: "\62";
}

.icon-ico_f_043015_48x48_49e_angle_down_rounded_4U:before {
	content: "\63";
}

.icon-ico_f_043015_48x48_49f_plus_rounded_4U:before {
	content: "\64";
}

.icon-ico_f_043015_48x48_49g_minus_rounded_4U:before {
	content: "\65";
}

.icon-ico_f_043015_48x48_50_airplay:before {
	content: "\66";
}

.icon-ico_f_043015_48x48_51_user:before {
	content: "\67";
}

.icon-ico_f_043015_48x48_52_question:before {
	content: "\68";
}

.icon-ico_f_043015_48x48_53_question2:before {
	content: "\69";
}

.icon-ico_f_043015_48x48_54_question3:before {
	content: "\6a";
}

.icon-ico_f_043015_48x48_55_ticket:before {
	content: "\6b";
}

.icon-ico_f_043015_48x48_56_ticket_aligned:before {
	content: "\6c";
}

.icon-ico_f_043015_48x48_56_ticket:before {
	content: "\6d";
}

.icon-ico_f_043015_48x48_57_ticket_negative_4U:before {
	content: "\6e";
}

.icon-ico_f_043015_48x48_58_ticket2_negative_3U:before {
	content: "\6f";
}

.icon-ico_f_043015_48x48_59_info:before {
	content: "\70";
}

.icon-ico_f_043015_48x48_60_info_rounded:before {
	content: "\71";
}

.icon-ico_f_043015_48x48_61_tv_3U:before {
	content: "\72";
}

.icon-ico_f_043015_48x48_61_tv:before {
	content: "\73";
}

.icon-ico_f_043015_48x48_62_smartphone:before {
	content: "\74";
}

.icon-ico_f_043015_48x48_63_smartphone_2U:before {
	content: "\75";
}

.icon-ico_f_043015_48x48_64_tablet:before {
	content: "\76";
}

.icon-ico_f_043015_48x48_65_tablet_2U:before {
	content: "\77";
}

.icon-ico_f_043015_48x48_66_tablet_3U:before {
	content: "\78";
}

.icon-ico_f_043015_48x48_67_imac:before {
	content: "\79";
}

.icon-ico_f_043015_48x48_68_imac2:before {
	content: "\7a";
}

.icon-ico_f_043015_48x48_69_imac3:before {
	content: "\7b";
}

.icon-ico_f_043015_48x48_70_laptop:before {
	content: "\7c";
}

.icon-ico_f_043015_48x48_71_laptop2:before {
	content: "\7d";
}

.icon-ico_f_043015_48x48_72_laptop_3U:before {
	content: "\7e";
}

.icon-ico_f_043015_48x48_73_desktop:before {
	content: "\ba";
}

.icon-ico_f_043015_48x48_74_desktop2:before {
	content: "\aa";
}

.icon-ico_f_043015_48x48_75_desktop3:before {
	content: "\a1";
}

.icon-ico_f_043015_48x48_76_desktop4:before {
	content: "\bf";
}

